/* FONT */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400&display=swap');

/* STYLE TITLE */
h1 {
  font-family: 'Staatliches';
  color: #fff;
  margin-bottom: 8px;
  letter-spacing: 2.5px; /* Menambah jarak antar huruf bikin tulisan terasa kurang padat */
  opacity: 0.9; /* Mengurangi kepekatan warna */
}

p, button {
    font-family: 'Times New Roman', Times, serif;
    color: #fff;
    font-size: 23px;
}

.space {
    height: 100px;
}

html, body {
    width: 100%;
    max-width: 100%;
    overflow-x: hidden; /*mengunci scroll menyamping*/
    margin: 0;
    padding: 0;
}

.bg-img {
    background-image: url('../background.svg');
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    background-attachment: scroll;
    min-height: 100vh;
}

.center-img {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px auto 0 auto;

    width: 60%;

    transition: all 0.3s ease;
}

.center-img:hover {
    transform: scale(1.05);
    transform: translateY(-10px);
}

.btn-img {
    width: 50%;
}

.btn-img {
    width: 40%;

    transition: all 0.3s ease;
}

.btn-img:hover {
    transform: translateY(-10px);
}

section {
    padding-left: 30px;
    padding-right: 30px;
    margin-top: -50px;
}

#project-btn {
    transform: translateX(30px);
}

#experience-btn {
    transform: translateX(970px);
}

#hobby-btn {
    transform: translateX(100px);
}

#strawberry {
    transform: translateX(1350px);
}

#btn-project {
    max-width: 300px;
    background-color: rgb(255, 0, 119);
    border: 5px solid #0000009a;
    color: #fff;

    padding: 15px 35px; 
    border-radius: 100px;

    text-decoration: none;
    font-weight: bold;
    font-size: 18px;

    text-align: center;
    cursor: pointer;
    transition: 0.2s;
}

#btn-project:hover {
    transform: translateY(-10px);
}

#btn-connect {
    max-width: 300px;
    background-color: blue;
    border: 5px solid #0000009a;
    color: #fff;

    padding: 15px 35px; 
    border-radius: 100px;

    text-decoration: none;
    font-weight: bold;
    font-size: 18px;

    text-align: center;
    cursor: pointer;
    transition: 0.2s;
}

#btn-connect:hover {
    transform: translateY(-10px);
}